.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.password__generator__card{
  width: 800px;
}

.include__features{
  margin-top: 20px !important;
}

.btn{
  border: 1px solid black !important;
  display: flex !important;
  margin: 20px 0 !important;
}

.btn:hover{
  background-color: rgba(104, 95, 95, 0.747);
  color: rgba(0, 0, 0, 0.856);
}